/* Write CSS Here */
body {
  text-align: center;

  background-color: rgb(90, 90, 226);

}
.main-heading {
  background: darkseagreen;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: rgb(241, 30, 30);
  font-family: "Young Serif", serif;
  border: 3px solid black;
  border-radius: 5px;
}

.reload {
  border: 3px solid black;
  border-radius: 5px;
  padding: 2px;
  font-family: "Young Serif", serif;
  background-color: yellow;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }

}