/* Write CSS Here */

body {
    text-align: center;
}

.geeks {
    font-size: 40px;
    font-weight: bold;
    color: green;
}



@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.game-container {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 2px solid grey;
    padding: 20px;
    border-radius: 5px;
    
}

canvas {
    border: 2px solid #333;
    border-radius: 5px;
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Added hovering effect to the buttons to look good */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
    font-size: 18px;
}
button:hover{
    background-color: grey;
    color: black;
    transform: scale(1.1);
}
#span1{
    text-shadow: 2px 2px 8px #FF0000;
    font-size: 19px;
}
/* Added text shadow to the text */
#label1,#score,#highest-score,#game-over{
    text-shadow: 2px 2px 8px #FF0000;
    font-size: 19px;
}
select {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
}

#score, #highest-score {
    font-size: 18px;
    font-weight: bold;
}

.game-title {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

#game-over {
    font-size: 36px;
    font-weight: bold;
    color: red;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

