/* Write CSS Here */

/* body {
   
} */

.geeks {
    font-size: 40px;
    font-weight: bold;
    color: green;
}



@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

body {
    background-image: url('background2.avif');
    background-repeat:round;
    
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.game-container {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #fff; */
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

canvas {
    border: 2px solid #333;
    border-radius: 5px;
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #bb3131;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size:large;
    font-weight: bolder;
}

select {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    margin-bottom: 10px;
}
select:hover{
    cursor:pointer;
}

#score {
    font-size: 18px;
    font-weight: bold;
}
.game-title {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
    color:rgb(54, 49, 49); 
}
label{
    font-weight: bold;
}
#start-button:hover{
    background-color: rgb(70, 179, 37);
    color:black;
}